# Iteration Skills

# 1. Track Iteration with **enumerate()**

* We can Create Index using **range()**

In [1]:
friends = ['Kirankumar','Paramveer','Gaurav','Pranit']

for i in range(len(friends)):
    print(f'{i + 1} : {friends[i]}')

1 : Kirankumar
2 : Paramveer
3 : Gaurav
4 : Pranit

In [2]:
for i,friend in enumerate(friends):
    print(f'{i+1} : {friend}')

1 : Kirankumar
2 : Paramveer
3 : Gaurav
4 : Pranit

# 2. Pair Iterables with **zip()**

In [3]:
names = ['Kirankumar','Paramveer','Gaurav','Pranit']

ages = [24,27,25,28]

for i in range(len(names)):
    name = names[i]
    age = ages[i]
    print(f'{i + 1} {name} : {age}')

1 Kirankumar : 24
2 Paramveer : 27
3 Gaurav : 25
4 Pranit : 28

zip() : Join Multiple Iterables and each in Loop it Produces Tuple.

In [4]:
for name,age in zip(names,ages):
    print(f'Name : {name} and Age : {age} Years')

Name : Kirankumar and Age : 24 Years
Name : Paramveer and Age : 27 Years
Name : Gaurav and Age : 25 Years
Name : Pranit and Age : 28 Years

# zip_longest

In [5]:
from itertools import zip_longest

for name,age in zip_longest(names,ages):
    print(f'Name : {name} and Age : {age} Years')

Name : Kirankumar and Age : 24 Years
Name : Paramveer and Age : 27 Years
Name : Gaurav and Age : 25 Years
Name : Pranit and Age : 28 Years

# 3. Reverse Iteration with **reversed()**

* Iterate a Sequence of Element in Reverse Order.

In [6]:
student_arrived = ['Kirankumar','Akash','Saurabh']

# Typical Way :
for i in range(1, len(student_arrived) + 1):
    print(student_arrived[-i])

Saurabh
Akash
Kirankumar

In [7]:
# Index :
for student in student_arrived[::-1]:
    print(student)

Saurabh
Akash
Kirankumar

In [8]:
# Use Reversed Function
for student in reversed(student_arrived):
    print(student)

Saurabh
Akash
Kirankumar

# 4. Filter Elements with filter()

In [9]:
number  = [1,2,3,4,5,6,7,8,9]
# The Typical Way
for num in number :
    if num % 2 : # It Represents that Num % 2 != 0
        print(f'Odd : {num}')

Odd : 1
Odd : 3
Odd : 5
Odd : 7
Odd : 9

In [10]:
# Use Filter 
for num in filter(lambda x : x % 2, number) :
    print(f'Odd : {num}')

Odd : 1
Odd : 3
Odd : 5
Odd : 7
Odd : 9

# 5. Chain Iterables with **chain()**

* Concatenate Iterables in Vertical Direction.

* Concatenate Iterables from Head to Tail.

* Iterating Sequentially.

In [11]:
odd = [1,3]
even = [2,4]

# The Typical Way 
numbers = odd + even # Concatenate List 

print(f'Odd + Even : {numbers}\n') 

for num in numbers : print(f'Operate with Number : {num}')

Odd + Even : [1, 3, 2, 4]

Operate with Number : 1
Operate with Number : 3
Operate with Number : 2
Operate with Number : 4

In [12]:
# Use Chain
from itertools import chain
for number in chain(odd,even) : print(f'Operate with Number : {number}')

Operate with Number : 1
Operate with Number : 3
Operate with Number : 2
Operate with Number : 4

# 6. Iterate Dictionaries

* Dictionaries are very common Data Type that Stores Data in the Form of **Key Value Pair.**

* Implementation uses Hashes.

* It's Very Fast and Easy to Look up and Retrieve Items from Dictionaries.

* The Storage of Data in the Form of Key Value Pair give us diferrent options to Iterate Dictionaries.

In [13]:
myself = {'Name' : 'Kirankumar', 'Age' : 24, 'Gender' : 'Male'}

# Iterate the Keys :
for key in myself : print(key)

Name
Age
Gender

In [14]:
# Iterate using key() Method :
for key in myself.keys() : print(key)

Name
Age
Gender

In [15]:
# Iterate the Values : 
for value in myself.values() : print(value)

Kirankumar
24
Male

In [16]:
# Iterate the Items : Key Value Pairs
for key,value in myself.items() : print(f'{key} : {value}')

Name : Kirankumar
Age : 24
Gender : Male

In [17]:
dict_key = myself.keys()

print(f'Before Updating : {dict_key}')

Before Updating : dict_keys(['Name', 'Age', 'Gender'])

In [18]:
myself['Phone'] = 'Samsung' # Add New 

print(f'After Updating : {dict_key}') # The List gets Updated when the Fictionary is Updated.

After Updating : dict_keys(['Name', 'Age', 'Gender', 'Phone'])

# 7. Consider **Comprehension** as Alternatives.

* If the Purpose of the List is Only to Create a List, Tuple, Set or Dictionaries then use Comprehensions.

## List Comprehension : \[ **expression** for **item** in **iterable** \]

In [19]:
primes = [2,3,5]

# Square of Prime Numbers 
square = [x*x for x in primes] # List Comprehension

print(f'List Created using Comprehension : {square}')

List Created using Comprehension : [4, 9, 25]

## Set Comprehension : \{ **expression** for **item** in **iterable** \}

In [20]:
square_set = {x*x for x in primes} # Set Comprehension

print(f'Set Created using Comprehension : {square_set}')

Set Created using Comprehension : {9, 4, 25}

## Tuple Comprehension : **tuple**\( **expression** for **item** in **iterable** \)

In [21]:
square_tuple = tuple(x*x for x in primes) # Tuple Comprehension

print(f'Tuple Created using Comprehension : {square_tuple}')

Tuple Created using Comprehension : (4, 9, 25)

## Dictionary Comprehension : \{ **key_expression : value_expression** for **item** in **iterable** \}

In [22]:
square_dict = {x : x*x for x in primes} # Dictionary Comprehension

print(f'Dictionary Created using Comprehension : {square_dict}')

Dictionary Created using Comprehension : {2: 4, 3: 9, 5: 25}

# 8. Consider the Else Clause :

* Use of Else Clause with the **For Loop.**

* If Execution Encounters any **Break** Statement, The Code in the Else Block will be **Skipped.**

In [23]:
def place_order(ordered_item) :
    menu_items = ['Paneer','Prawns','Mutton','Chicken']

    for name,item in ordered_item.items() :

        if item not in menu_items : 
            
            print(f"Your Order can't served because, {name}'s {item} isn't Available üòê")
            
            break # If Order consist of Item which is not Present in the Menu then Execution will End Here 

    else : print("Your Order can be Served üôÇ")

In [24]:
print(f"Group 1")
group1 = {'Kirankumar':'Paneer','Param':'Mutton','Gaurav':'Prawns','Pranit':'Tuna'}
place_order(group1)

Group 1
Your Order can't served because, Pranit's Tuna isn't Available üòê

In [25]:
print(f"Group 2")
group1 = {'Kirankumar':'Paneer','Akash':'Mutton','Saurabh':'Prawns','Santy':'Paneer'}
place_order(group1)

Group 2
Your Order can be Served üôÇ